:root {
    --green: #33d9b2;
    --red: #ff793f;
    --background: #f7f1e3;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff793f;
}

li {
    float: left;
}

li a {
    display: block;
    color: #36454F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #f7f1e3;
}

html {
    font-size: 10px;
    font-weight: 300;
}

body {
    width: 90vw;
    margin: 0 auto;
    background: radial-gradient(#34ace0, #227093, #474787, #474787);
}

main {
    text-align: center;
    background: var(--background);
    border: solid var(--red);
    border-width: 0 8px 8px 8px;
    min-height: 80vh;
    border-radius: 0 0 3rem 3rem;
    padding: 1rem;
    color: #1f2933;
}

h2 {
    font-size: 2.2rem;
    margin: 8rem 0;
}

p {
    font-size: 1.8rem;
}

footer {
    font-size: 2rem;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    cursor: pointer;
    background: var(--green);
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
}

button:last-child {
    background: var(--red);
    border-radius: 0 0 1rem 1rem;
}

h3 {
    font-size: 2rem;
}

input {
    border: 1px solid lightgray;
    background: transparent;
    margin: 2rem 0;
    padding: 1rem 0;
    width: 16rem;
    text-align: center;
}

#range {
    display: flex;
    background: var(--green);
    height: 50px;
    padding: 0;
    margin: 0 0 4rem 0;
}

#rangeOutput {
    font-size: 1.6rem;
}

.stats {
    text-align: left;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info span {
    font-size: 1.6rem;
}

#newGameButtom {
    border-radius: 0;
}

.flash {
    animation: flash 1s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@media(min-width: 800px) {
    body {
        width: 60vw;
    }
}
